// Colors

$purple: #792877;
$orange: #f28131;
$white: #fff;
$black: #000;
$red: #EE3B3B;


$border-radius-round-corners: 0.5rem;
$border-radius-circular: 50%;
$border-style: 0.5rem solid;

$transition-style: 0.2s ease-in-out;
