.m-player-card {
  background-color: $purple;

  .m-player-card__characters-container {
    display: flex;
  }

  .m-player-card__character {
    flex-grow: 1;
    background-color: green;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .m-player-card__inventory {
    display: flex;
    flex-wrap: wrap;
  }

  .m-player-card__item {
    flex-basis: 50%;
  }
}
